*{
  margin: 0;
  padding: 0;
}
#wrap{
  width: 408px;
  margin: 0 auto;
  height: 408px;
  background: #ccc;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
#wrap > div{
  width: 100px;
  height: 100px;
  background: red;
  font-size: 64px;
  text-align: center;
}

.scoreWrap{
  text-align: center;
  font-size: 60px;
}